{% extends 'base.html' %}

{% block content 'body' %}
	<div class = "container">
		<form action{% url 'cadastrar_Usuario'%} = "" method="POST">{%csrf_token %}
			<label>Email</label>
			<input type= "email" placeholder = "Digite seu e-mail..." name = "email" class="form-control">
			<label>Senha</label>
			<input type= "password" placeholder = "Digite sua senha..." name = "senha" class="form-control">
			<input type= "submit" class="btn btn-sucess">
{% endblock %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar</button>
</form>
#renderizar o formulario


